<html>
	<head>
		<style>
			* {
				border-color: red;
				border-style: solid;
			}
			.wrapper > div {
				display: inline-block;
			}
			.blue {
				background-color: blue;
				color: white;
				height: 50px;
				width: 50px;
			}
			.green {
				background-color: green;
				color: white;
				height: 50px;
				width: 50px;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
		</div>
		<div class="wrapper">
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
		</div>
		<div class="wrapper">
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
		</div>
		<div class="wrapper">
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
		</div>
		<div class="wrapper">
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
		</div>
		<div class="wrapper">
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
		</div>
		<div class="wrapper">
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
		</div>
		<div class="wrapper">
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
			<div class="green">Box</div>
			<div class="blue">Box</div>
		</div>
	</body>
</html>